.section {
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),
    url("/common-section-bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom 50% right 50%;
  height: 35rem;

  /* <a href="https://www.freepik.com/free-photo/gray-sofa-white-living-room-interior-with-copy-space-3d-rendering_17830532.htm#fromView=search&page=1&position=15&uuid=4b00fb2f-7a60-43f4-ad0d-056a6cd881c4">Image by wuttichai1983 on Freepik</a> */
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #fff;
    font-weight: 600;
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 768px) {
  .section {
    background-position: bottom -80px right 50%;
  }
}
