.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  img {
    width: 4rem;
    height: 4rem;
  }
  h1 {
    font-size: 1.92rem;
    font-weight: 700;

    color: var(--primary-color);
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    h1 {
      font-size: min(1.6rem, 1rem + 1vw);
    }
    img {
      width: 3rem;
      height: 3rem;
    }
    p {
      font-size: min(1.4rem, 0.7rem + 0.8vw);
    }
  }
}
