.header {
  width: 100%;
  height: 7.6rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.8rem -3px #ddd;
  z-index: 9999;
  .navWrapper {
    display: flex;
    justify-content: space-between;

    .navigation {
      display: flex;
      align-items: center;
      .menu {
        display: flex;
        margin-bottom: 0;
        align-items: center;
        gap: 3rem;
        .navItem a {
          color: var(--primary-color);
          font-weight: 500;
          cursor: pointer;
          &.active {
            font-weight: 700;
          }
        }
      }
    }
    .cartIcon,
    .favIcon {
      position: relative;
    }
    .icon {
      color: var(--primary-color);
      cursor: pointer;
    }
    .navIcons {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      cursor: pointer;
      img {
        height: 3rem;
        width: 3rem;
      }
    }
    .mobileMenu {
      color: var(--primary-color);
      display: none;
      cursor: pointer;
    }
  }
}

.badge {
  position: absolute;

  top: -20%;
  right: -20%;
  content: "";
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 600;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .header {
    height: 6rem;

    .navWrapper {
      .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: none;
        z-index: 300;
        &:global(.active) {
          display: block;
        }
      }
      .navIcons {
        img {
          height: 2.4rem;
          width: 2.4rem;
        }
      }
      .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 25rem;
        height: 100%;
        background-color: #fff;
        z-index: 4000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .mobileMenu {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
