.footer {
  background-color: var(--primary-color);
  padding-top: 6rem;
  padding-bottom: 3rem;
  --color: rgba(255, 255, 255, 0.735);
  position: relative;
  z-index: 1;

  h1 {
    color: #fff;
  }
  .text {
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .quickLinks div {
    background: transparent;
    color: var(--color);
    font-size: 1.2rem;
    p {
      margin-bottom: 0;
      color: var(--color);
      font-size: 1.2rem;
    }
  }
  .linksTitle {
    font-size: 1.5rem;
  }

  .copyright {
    color: var(--color);
    font-size: 1.2rem;
    margin-top: 4rem;
    text-align: center;
  }
}
